baseURL = "https://guomenglun.github.io/"
# 注意结尾有个斜杠，且必须是 https
languageCode = "zh-cn"
title = "我的博客"
theme = "hugo-theme-stack"

# 菜单配置
[[menu.main]]
identifier = "home"
name = "首页"
url = "/"
weight = 1

[[menu.main]]
identifier = "archives"
name = "归档"
url = "/archives/"
weight = 2

[[menu.main]]
identifier = "tags"
name = "标签"
url = "/tags/"
weight = 3
